body {
  margin: 0;
  font-family: 'Open Sans';
}

input, a {
  border-radius: 5px;
}

p, li {
  color: white;
}

.mm-text {
  color: white;
  font-size: 70px;
  font-family: 'Sacramento';
}

.small-font {
  font-size: 24px;
}

#app-container {
  height: calc(100% - 50px);
}

.base-section {
   height: calc(100% - 150px);
   padding: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.base-section:first-of-type {
  padding-top: 100px;
}

.section-title {
  width: 100%;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Sacramento';
  color: mediumpurple;
}

/*******************************
 *          NAV BAR            *
 *******************************/
.nav-bar {
  z-index: 1;
  position: fixed;
  /* 2 * padding + height = 50 */
  height: 30px;
  padding: 10px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: mediumpurple;
}

.nav-bar input {
  position: relative;
  height: 100%;
  background: none;
  border: none;
  color: white;
}

.nav-bar input:hover {
  background-color: rebeccapurple;
}

/*******************************
 *            ABOUT            *
 *******************************/
#top-section {
  background-color: mediumpurple;
  flex-direction: column;
  background-image: url("img/me.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*******************************
 *            TECH             *
 *******************************/
#tech-section {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
}

#my-pic {
   height:auto;
   width: 50%;
   border-radius:5px;
}

.tech-subsection {
  display:flex;
  flex:1;
  justify-content: space-between;
  margin: 10px;
}

.tech-subsection li {
  margin-bottom: 10px;
}

.tech-background {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.tech-background-sub {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 10px 0;
  border-radius: 5px;
}

.tech-background-sub p {
  font-size: 18px;
}

.tech-background-sub ul {
  margin: 0;
}

.tech-stack-img {
  height: auto;
  width: auto;
  max-width: 20%;
  max-height: 75%;
}

.factset-font {
  color: dodgerblue;
  text-decoration: none;
}

.swarthmore-font {
  color: maroon;
  text-decoration: none;
}

/*******************************
 *          PROJECTS           *
 *******************************/
#middle-section {
  background-color: mediumturquoise;
  display: flex;
  flex-direction: column;
}

#twitter-widget-0 {
  width: 50% !important;
  height: 100% !important;
}

.projects-subsection {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.project-list {
  height: 100%;
  width: 50%;
  border: 1px solid white;
  border-radius: 5px;
  background: linear-gradient(#65d8d4, #8fe3e0);
  margin-left: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.project-item {
  color: #7056a7;
  font-size: 20px;
  margin: 5px;
}

.project-date {
  font-size: 16px;
  float: right;
}

.tech-used {
  color: #256966;
}

/*******************************
 *              MORE           *
 *******************************/
#bottom-section {
  height: 100px;
  background-color: mediumvioletred;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom-section img {
  margin: 0 10px;
}

#bottom-section a {
  color: white;
  text-decoration: none;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
}

#bottom-section a:hover {
  background-color: palevioletred;
}