<div class="base-section" id="bottom-section">
  <a href="http://github.com/mmoconnor23"><img src="img/github-9-32.ico">Github</a>
  <a href="http://twitter.com/bissamissa"><img src="img/twitter-32.ico">Twitter</a>
  <a href="http://www.linkedin.com/pub/melissa-o-connor/35/201/80/en"><img src="img/linkedin-3-32.ico">LinkedIn</a>
  <!-- TODO: name, e-mail, message, send e-mail from site-->
  <a href="mailto:mmoconnor23@gmail.com"><img src="img/new-post-32.ico">Send e-mail</a>
  <!-- TODO: view pdf of resume -->
</div>