<div class="base-section" id="middle-section">
  <div class="section-title">Projects</div>
  <!-- TODO: list projects here, pretty-styled sub-section scroll bar -->
  
  <div class="projects-subsection">
    <a class="twitter-timeline" data-height="500" data-theme="light" data-link-color="#981CEB" href="https://twitter.com/financestockbot/lists/melissamattingly">A Twitter List by financestockbot</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <div class="project-list">
      <div class="project-item">
        <div>@financestockbot</div>
        <hr/>
        <div class="project-date">January 2017</div>
        <ul>
          <li><span class="tech-used">nodeJS, twit, Heroku, lodash</span></li>
          <li>Twitterbot that tweets stock prices and % changes back at you</li>
        </ul>
      </div>
      <div class="project-item">
        <div>First Personal Website</div> 
        <hr/>
        <div class="project-date">Spring 2015</div>
        <ul>
          <li><span class="tech-used">Angular Material, Angular 1.X, Heroku</span></li>
          <li><a href="http://melissa-mattingly.herokuapp.com">melissa-mattingly.herokuapp.com</a></li>
        </ul>
      </div>
      <div class="project-item">
        <div>Family Vacation Website</div>
        <hr/>
        <div class="project-date">Summer 2013</div>
        <ul>
          <li><span class="tech-used">HTML/CSS</span></li>
          <li><a href="https://www.sccs.swarthmore.edu/users/14/moconno2/summervaca2013.html">Link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>