<template>
  <div class="base-section" id="tech-section">
    <div class="section-title">Experience</div>
    <div class="tech-background">
      <div class="tech-background-sub">
        <p>EDUCATION</p>
        <ul>
          <li><a class="swarthmore-font" href="www.swarthmore.edu">Swarthmore College</a> (2010-2014)</li>
          <li>B.A. Computer Science</li>
        </ul>
      </div>
      <div class="tech-background-sub">
        <p>JOB EXPERIENCE</p>
        <ul>
          <li><a class="factset-font" href="www.factset.com">FactSet Research Systems</a> (2014-present)</li>
          <li>Software Engineer, Frontend Web Development</li>
        </ul>
      </div>
    </div>
    <div class="tech-subsection">
      <img class="tech-stack-img" src="img/logos/angularjs.png" title="AngularJS"/>
      <img class="tech-stack-img" src="img/logos/htmlcssjquery.png" title="HTML, CSS, jQuery"/>
      <img class="tech-stack-img" src="img/logos/javascript.jpg" title="Javascript"/>
      <img class="tech-stack-img" src="img/logos/nodejs.png" title="NodeJS"/>
    </div>
  </div>
</template>