<template>
  <div class="base-section" id="tech-section">
    <div class="section-title">Experience</div>
    <div class="tech-background">
      <div class="tech-background-sub">
        <p class="tech-title">EDUCATION</p>
        <p><a class="swarthmore-font" href="www.swarthmore.edu">Swarthmore College</a>
        <p><em>2010-2014</em>
        <p><strong>B.A. Computer Science</strong>
      </div>
      <div class="tech-background-sub">
        <p class="tech-title">JOB EXPERIENCE</p>
        <p><a class="factset-font" href="www.factset.com">FactSet Research Systems</a>
        <p><em>2014-present</em>
        <p><strong>Senior Software Engineer/Team Lead</strong> (February 2018 - present)
        <p><strong>Software Engineer</strong> (June 2014 - February 2018)
      </div>
      <div class="tech-background-sub">
        <p class="tech-title">TECHNOLOGIES</p>
        <p>AngularJS
        <p>HTML, CSS, jQuery
        <p>Javascript
        <p>NodeJS
      </div>
    </div>
  </div>
</template>